body {
    margin: 0;
    background-color: #333;
    font-family: Verdana;
    color: yellowgreen;
    font-size: 10px;
    line-height: 10px;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4em;
    line-height: 45px;
    margin: 10px;
    text-align: center;
}

a {
    font-size: 4em;
    line-height: 45px;
    cursor: pointer;
    color:yellowgreen;
    margin: 5%;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}